<div
  class="top-bar-boxed top-bar-boxed--top-menu h-[70px] md:h-[65px] z-[51] border-b border-white/[0.08] mt-12 md:mt-0 -mx-3 sm:-mx-8 md:-mx-0 px-3 md:border-b-0 relative md:fixed md:inset-x-0 md:top-0 sm:px-8 md:px-10 md:pt-10"
>
  <nav class="navbar top-nav" clickOutside (clickOutside)="closeMenu()">
    <div class="navbar-logo">
      <a href="/" class="flex mr-auto">
        <img
          alt="LOGO"
          class="w-20"
          [src]="
            isDarkModeEnabled()
              ? 'assets/dist/images/LOGO DOMI White.png'
              : 'assets/dist/images/LOGO DOMI black.png'
          "
        />
      </a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
      <i class="fa fa-bars"></i>
    </div>
    <ul
      class="navbar-links"
      [ngClass]="{
        active: navbarOpen,
        'content-dark': isDarkModeEnabled(),
        'content-light': !isDarkModeEnabled()
      }"
    >
      <li><a routerLink="/" class="top-menu" >Home</a></li>
      <li><a routerLink="/register" class="top-menu" *ngIf="!isUserLoggedIn()">Sign up</a></li>
      <li><a routerLink="/login" class="top-menu" *ngIf="!isUserLoggedIn()">Sign in</a></li>
      <li><a routerLink="/client/profile" class="top-menu" *ngIf="isUserLoggedIn() && isClient && !isAdmin">Profile</a></li>
      <li><a routerLink="/accountant/profile" class="top-menu" *ngIf="isUserLoggedIn() && !isClient && !isAdmin">Profile</a></li>
      <li><a routerLink="/company-creation" class="top-menu" *ngIf="!isAdmin">Company Creation</a></li>
      <li><a routerLink="/client/consultations" class="top-menu" *ngIf="isUserLoggedIn() && !isAdmin">Consultation</a></li>
      <li><a routerLink="/client/my-domiciliation-requests" class="top-menu" *ngIf="isUserLoggedIn() && !isAdmin">Domiciliation</a></li>
      <li><a routerLink="/admin" class="top-menu" *ngIf="isUserLoggedIn() && isAdmin">Clients</a></li>
      <li><a routerLink="/admin/accountants" class="top-menu" *ngIf="isUserLoggedIn() && isAdmin">Accountants</a></li>
      <li><a routerLink="/admin/company-creation-documents" class="top-menu" *ngIf="isUserLoggedIn() && isAdmin">Documents</a></li>
      <li><a routerLink="/admin/archived-clients" class="top-menu" *ngIf="isUserLoggedIn() && isAdmin">Archived Clients</a></li>
      <li *ngIf="isUserLoggedIn()">
        <div class="user-info top-menu">
          <img [src]="'data:image/png;base64,'+userProfile.image" alt="User Image" class="user-image" />
        <span>{{ userProfile.firstName }}</span>
        </div>
      </li>
      <li *ngIf="isUserLoggedIn()">
        <button (click)="logout()" class="logout-btn top-menu">Sign out</button>
      </li>
    </ul>
  </nav>
</div>
