form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

select,
input,
button {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.circle-li {
  list-style-type: none;
  padding-left: 20px;
}

.circle-li:before {
  content: "\2022";
  color: #fe703f;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
