/* You can add global styles to this file, and also import other style files */
.bg-red-50 {
    background-color: #fef2f2;
}
.bg-red-100 {
    background-color: #fee2e2;
}
.bg-red-200 {
    background-color: #fecaca;
}
.bg-red-300 {
    background-color: #fca5a5;
}
.bg-red-400 {
    background-color: #f87171;
}
.bg-red-500 {
    background-color: #ef4444;
}
.bg-red-600 {
    background-color: #dc2626;
}
.bg-red-700 {
    background-color: #b91c1c;
}
.bg-red-800 {
    background-color: #991b1b;
}
.bg-red-900 {
    background-color: #7f1d1d;
}