<div class="content">
<!-- <div id="myChartDiv" style="display: block">
    <canvas baseChart width="inherit" height="inherit"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div> -->
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="'horizontalBar'">
    </canvas>
  </div>
  
</div>

  