<div class="content content--top-nav">
    <div class="intro-y flex items-center mt-8">
      <h2 class="text-lg font-medium mr-auto">Reset Password</h2>
    </div>
    <div class="grid grid-cols-12 gap-6">

      <div class="col-span-12 lg:col-span-8 2xl:col-span-9">
        <div class="intro-y box lg:mt-5">
          <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
            <h2 class="font-medium text-base mr-auto">Reset Password</h2>
          </div>
          <div class="p-5">
            <p class="text-lg text-center">Success!</p>
            <p class="text-center mt-4">An email has been sent to your inbox with instructions to reset your password. Please check your email and follow the instructions provided.</p>
            <div class="text-center mt-8">
Go to inbox..            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  