<div class="content content--top-nav">
  <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">Domiciliation Request Details</h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
      <button class="btn btn-outline-success shadow-md mr-2">Print</button>
    </div>
  </div>

  <div class="intro-y box overflow-hidden mt-5">
    <div
      class="border-b border-slate-200/60 dark:border-darkmode-400 text-center sm:text-left"
    >
      <div class="px-5 py-10 sm:px-20 sm:py-20">
        <div class="text-success font-semibold text-3xl">
          Domiciliation Request
        </div>
        <div class="mt-2">
          Client CIN: <span class="font-medium">{{domiciliationRequestDetails.cin}}</span>
        </div>
        <div class="mt-1">
          {{ domiciliationRequestDetails.createdAt | date : "MMM d, y" }}
          {{ domiciliationRequestDetails.createdAt | date : "hh:mm a" }}
        </div>
      </div>
      <div class="flex flex-col lg:flex-row px-5 sm:px-20 pt-10 pb-10 sm:pb-20">
        <div>
          <div class="text-base text-slate-500">Client Details</div>
          <div class="text-lg font-medium text-success mt-2">
            {{ domiciliationRequestDetails.client.firstName }}
            {{ domiciliationRequestDetails.client.lastName }}
          </div>
          <div class="mt-1">{{ domiciliationRequestDetails.client.email }}</div>
          <div class="mt-1">
            {{ domiciliationRequestDetails.client.phoneNumber }}
          </div>
        </div>
        <div class="lg:text-right mt-10 lg:mt-0 lg:ml-auto">
          <div class="text-base text-slate-500">Domiciliation Details</div>
          <div > Denomination:
            <span class="text-lg font-medium text-success mt-2">{{domiciliationRequestDetails.denomination}}</span>
        </div>
          <div class="mt-1">Legal Form: {{domiciliationRequestDetails.legalForm}}</div>
          <div class="mt-1">Company Status: {{domiciliationRequestDetails.companyStatus}}</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.draftStatus">Draft Status: {{domiciliationRequestDetails.draftStatus}}</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.shareCapital">Share Capital: {{domiciliationRequestDetails.shareCapital}} Dinars</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.management">Management: {{domiciliationRequestDetails.management}}</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.oldDraftStatus">Old Draft Status: {{domiciliationRequestDetails.oldDraftStatus}}</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.oldLegalForm">Old Legal Form: {{domiciliationRequestDetails.oldLegalForm}}</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.oldShareCapital">Old Share Capital: {{domiciliationRequestDetails.oldShareCapital}}</div>
          <div class="mt-1" *ngIf="domiciliationRequestDetails.oldManagement">Old Management: {{domiciliationRequestDetails.oldManagement}}</div>
        </div>
      </div>
    </div>

    <div class="px-5 sm:px-16 py-10 sm:py-20">
      <div class="overflow-x-auto">
        <div class=" mt-10 lg:mt-0 lg:ml-auto">
          <div class="text-lg font-medium text-success mt-2">Files List</div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="border-b-2 dark:border-darkmode-400 whitespace-nowrap">
                Name
              </th>
              <th
              colspan="2"
                class="border-b-2 dark:border-darkmode-400 text-center whitespace-nowrap"
              >
                File
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-b dark:border-darkmode-400">
                <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">
                  CIN File
                </div>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="openFile(domiciliationRequestDetails.cinFile)">
                  Open File
                </button>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="downloadFile(domiciliationRequestDetails.cinFile)">
                  Download File
                </button>
              </td>
            </tr>
            <tr>
              <td class="border-b dark:border-darkmode-400">
                <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">
                  Denomination File
                </div>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button
                  (click)="
                    openFile(domiciliationRequestDetails.denominationFile)
                  "
                >
                  Open File
                </button>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="downloadFile(domiciliationRequestDetails.denominationFile)">
                  Download File
                </button>
              </td>
            </tr>
            <tr *ngIf="domiciliationRequestDetails.extractRNE">
              <td class="border-b dark:border-darkmode-400">
                <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">
                  Extract RNE File
                </div>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button
                  (click)="openFile(domiciliationRequestDetails.extractRNE)"
                >
                  Open File
                </button>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="downloadFile(domiciliationRequestDetails.extractRNE)">
                  Download File
                </button>
              </td>
            </tr>
            <tr *ngIf="domiciliationRequestDetails.pvChangeAddress">
              <td class="border-b dark:border-darkmode-400">
                <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">
                  Change of Address Charge Sheet File
                </div>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button
                  (click)="
                    openFile(domiciliationRequestDetails.pvChangeAddress)
                  "
                >
                  Open File
                </button>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="downloadFile(domiciliationRequestDetails.pvChangeAddress)">
                  Download File
                </button>
              </td>
            </tr>
            <tr *ngIf="domiciliationRequestDetails.oldBusinessLicence">
              <td class="border-b dark:border-darkmode-400">
                <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">
                  Old Business Licence File
                </div>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button
                  (click)="
                    openFile(domiciliationRequestDetails.oldBusinessLicence)
                  "
                >
                  Open File
                </button>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="downloadFile(domiciliationRequestDetails.oldBusinessLicence)">
                  Download File
                </button>
              </td>
            </tr>
            <tr *ngIf="domiciliationRequestDetails.oldExistenceDeclaration">
              <td class="border-b dark:border-darkmode-400">
                <div class="text-slate-500 text-sm mt-0.5 whitespace-nowrap">
                  Old Existence Declaration File
                </div>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button
                  (click)="
                    openFile(
                      domiciliationRequestDetails.oldExistenceDeclaration
                    )
                  "
                >
                  Open File
                </button>
              </td>
              <td class="text-right border-b dark:border-darkmode-400 w-32">
                <button (click)="downloadFile(domiciliationRequestDetails.oldExistenceDeclaration)">
                  Download File
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="px-5 sm:px-20 pb-10 sm:pb-20 flex flex-col-reverse sm:flex-row">
      <div class="text-center sm:text-left mt-10 sm:mt-0">
        <div class="text-base text-slate-500">Pack</div>
        <div class="text-lg text-success font-medium mt-2">{{domiciliationRequestDetails.pack.designation}}</div>
        <div class="mt-1">Price : {{domiciliationRequestDetails.pack.price}} Dinars</div>
      </div>
      <div class="text-center sm:text-right sm:ml-auto">
        <div class="text-base text-slate-500">Payment Mode</div>
        <div class="text-xl text-success font-medium mt-2">{{domiciliationRequestDetails.paymentMode}}</div>
      </div>
    </div>
  </div>
  <!-- END: Invoice -->
</div>
