<div *ngIf="!emailEntered; else passwordInputs">
  <input type="email" [(ngModel)]="enteredEmail" placeholder="Enter your email">
  <button (click)="checkEmail()">Submit</button>
</div>
<div *ngIf="emailError" class="text-danger">
  No user found with that email.
  <button routerLink="/register">Sign Up</button>
</div>
<ng-template #passwordInputs>
  <input type="password" [(ngModel)]="password" placeholder="Enter password">
  <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm password">
  <button type="submit "(click)="paswordMatch()" [disabled]="!isPasswordValid()">Confirm</button>
  <div *ngIf="passwordsMismatch" class="error-message">
    Passwords do not match!
  </div>
</ng-template>
